.my-login-header-image {
  background-image: url("./../../../assets/top_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5rem;

  &::before {
    /* 透過した黒を上から重ねるイメージ */
    background-color: rgba(0, 0, 0, 0.4);
    /* 自由に位置指定 */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    height: 38.2rem;
    @media screen and (min-width: 768px) {
      top: 5rem;
    }
  }
  .card-block-google-login {
    display: flex;
    .google-login-btn {
      width: auto;
      padding: 0;
      margin: 0;
      background: none;
      border: 0;
      font-size: 0;
      line-height: 0;
      overflow: visible;
      cursor: pointer;
      flex: auto;
      margin-top: 1rem;
    }
  }
}

main {
  .about {
    text-align: center;
  }
  .about-discription {
    text-align: left;
  }
}
