<div class="wrapper my-login-header-image">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
        <div class="card-register">
          <h3 class="title">サインイン</h3>
          <p>投稿や閲覧をするには<br />会員登録またはサインインが必要です</p>
          <form class="register-form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <label>メールアドレス</label>
            <div class="input-group form-group-no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="nc-icon nc-email-85"></i>
                </span>
              </div>

              <input ngModel name="email" type="email" class="form-control" placeholder="メールアドレス" required
                pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
            </div>

            <label>パスワード</label>
            <div class="input-group form-group-no-border">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="nc-icon nc-key-25"></i>
                </span>
              </div>
              <input ngModel type="password" name="password" class="form-control" placeholder="パスワード" required>
            </div>
            <button [disabled]="!loginForm.valid" class="btn btn-danger btn-block btn-round" type="submit">サインイン</button>
          </form>
          <div class="card-block-google-login">
            <button class="google-login-btn" type="reset" (click)="signInWithGoogle()"><img src="./../../../assets/btn_google_signin_dark_focus_web.png" alt="button"/></button>
          </div>
          <div *ngIf="errors && errors.length>0" class="alert alert-danger" style="margin-top: 1rem;">
            <p *ngFor="let error of errors">{{ error.detail}}</p>
          </div>
          <!-- <div class="forgot">
              <a href="#" class="btn btn-link btn-danger">パスワードを忘れた方</a>
             </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<main>
  <div class="container">
    <div class="about">
      <h2>about</h2>
      <div class="about-discription">
        <p>
          &nbsp;&nbsp;「みんなの練習場」は皆さんが普段トレーニングをしたりリフレッシュをしたりする公園などを紹介するサイトです。
        </p>
        <p>
          &nbsp;&nbsp;例えば「こんな坂道をダッシュしてます。この坂道はとてもトレーニングになります。」や「この公園で懸垂してます。いろんな器具があり
          運動不足を解消しています。」など皆さんが行きつけの場所を紹介し、どんなトレーニングをしているかを投稿することで見る人に刺激を与えることができます。皆でトレーニングのモチベーションをアップしましょう！
        </p>
      </div>
    </div>
  </div>
</main>