@media (min-width: 960px) {
  .my-card {
    width: 15.5rem;
  }
  .col-sm {
    flex-grow: 0;
}
}

.card-img-top {
  height: 15rem;
}

.my-pagination {
  display: flex;
  .pagination {
    margin: 0 auto;
  }
}
