@media (min-width: 960px) {
  .my-card {
    width: 15.9rem;
  }
  .col-sm {
    flex-grow: 0;
}
}

.card-img-top {
  height: 15rem;
}

.my-pagination {
  display: flex;
  .pagination {
    margin: 0 auto;
  }
}

.card-body {
  .card-username {
    margin-right: .3rem;
  }
}

.show-my-posts-btn {
  margin-right: 1rem;
  margin-bottom: .3rem;
}
