<ng-container *ngIf="product">
  <!-- <div class="page-header page-header-xs" data-parallax="true"> -->
  <!-- <div class="filter"></div>
    <div class="container">
      <div class="carousel-caption text-left">
        <h2>{{product.username}}</h2>
        <p>{{product.createDate}}</p>
      </div>
    </div> -->
  <!-- </div> -->


  <div class="main">
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="title">Let's talk product</h2>
            <h5 class="description">This is the paragraph where you can write more details about your product. Keep you
              user engaged by providing meaningful information. Remember that by this time, the user is curious,
              otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.</h5>
            <br>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="card my-card">
                <img class="my-img-size card-img-top" src="./assets/img/uploads/{{ product.coverImage1 }}" alt="">
                <div class="card-body my-card">
                  <h5 class="card-title">{{ product.heading1 }}</h5>
                  <p class="card-text" style="text-align: left;">This is the paragraph where you can write more details about your product. Keep you
                    user engaged by providing meaningful information. Remember that by this time, the user is curious,
                    otherwise he wouldn't scroll to get here. Add a button if you want the user to see more.{{ product.description1 }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="card my-card">
                <img class="my-img-size card-img-top" src="./assets/img/uploads/{{ product.coverImage2 }}" alt="">
                <div class="card-body my-card">
                  <h5 class="card-title">{{ product.heading2 }}</h5>
                  <p class="card-text">{{ product.description2 }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="card my-card">
                <img class="my-img-size card-img-top" src="./assets/img/uploads/{{ product.coverImage3 }}" alt="">
                <div class="card-body my-card">
                  <h5 class="card-title">{{ product.heading3 }}</h5>
                  <p class="card-text">{{ product.description3 }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->
  </div><!-- /.container -->
  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>{{product.username}}&middot; {{product.createDate}}</p>
  </footer>
</ng-container>
