.my-img-size {
  height: 20rem;
  image-orientation: 0deg;
}

textarea {
  border-radius: 2px;
  padding: 8px;
  width: 100%;
  height: 12rem;
  text-align: left;
}

.my-refrect-btn-area {
  width: 100%;
  text-align: center;
  button {
    width: 6rem;
  }
}

.form-control {
  width: 100%;
}

.card-body {
  padding-top: 1rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 1rem !important;
}

.my-non-display {
  opacity: 0;
}

.my-fade-in {
  opacity: 1;
  transition: 1s;
}

.my-title {
  margin-top: 3px;
  margin-bottom: 5px;
}

.my-title-prefecture {
  color: rgb(112, 112, 112);
}

.posting-spiner {
  background: #5a5a5a;
  opacity: 0.5;
  position: fixed;
  height: calc(100% + 220vw);
  width: 100%;
  top: 0;
  z-index: 9999;
  margin-top: -7rem;
  padding-bottom: -7rem;
}

.spinner-grow {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  .sr-only {
    position: relative;
    margin-left: 2.5rem;
    margin-top: 0rem;
    color: rgb(244, 255, 255);
    font-size: 18px;
    &::after {
      content: "投稿を更新中...";
      position: absolute;
      top: 32px;
      right: -29px;
    }
  }
}

.wrapper {
  position: relative;
  z-index: 3;
}

.my-delete-btn {
  margin-left: 1rem;
}

.footer-container {
  .footer-row {
    font-size: 15px;
    align-items: baseline;
  }
}
