<ng-container *ngIf="isPosting">
  <div class="posting-spiner"></div>
  <div class="spinner-grow text-primary" role="status">
    <span class="sr-only"></span>
  </div>
</ng-container>
<div [ngClass]="product ? 'my-fade-in' : 'my-non-display'">
  <ng-container *ngIf="product">
    <form action="" class="contact-form" #postForm="ngForm" (ngSubmit)="updatePost(postForm)" method="post">
      <input [(ngModel)]="product._id" name="_id" type="hidden">
      <div class="main">
        <div class="section text-center">
          <div class="container">
            <div class="row">
              <div class="mr-auto ml-auto">
                 <h5>場所の名前</h5>
                <h2 class="my-title" style="width: 15rem;">
                  <ng-container *ngIf="isSameUser; else notEditableUser1">
                    <input [(ngModel)]="product.heading" type="text" name="heading" class="form-control">
                  </ng-container>
                  <ng-template #notEditableUser1>
                    {{ product.heading }}
                  </ng-template>
                </h2>
              </div>
            </div>
            <div class="row">
              <div class="mr-auto ml-auto">
                <p class="my-title-prefecture">
                  <ng-container *ngIf="isSameUser; else notEditableUser9">
                    <select (change)="getSelectedPref($event.target.value)" ([ngModel])="product.prefecture"
                      id="inputState" class="form-control">
                      <option id="update-state" *ngFor="let state of prefectures.states" [value]="state.value"
                        [selected]="product.prefecture === state.value">
                        {{state.viewValue}}</option>
                    </select>
                    <input [(ngModel)]="selectedPrefecture ? selectedPrefecture : product.prefecture" type="hidden"
                      name="prefecture">
                  </ng-container>
                  <ng-template #notEditableUser9>
                    <ng-container *ngFor="let value of prefectures.states">
                      <p *ngIf="value.value === product.prefecture"> {{ value.viewValue }}</p>
                    </ng-container>
                  </ng-template>
                </p>
              </div>
            </div>
            <br /><br />
            <div class="row">
              <div class="col-md-4">
                <div class="info">
                  <div class="card my-card">
                    <!-- <img class="my-img-size card-img-top" src="{{product.coverImage1}}" alt=""> -->
                    <canvas id="cvs1" width="300" height="300" class="my-img-size card-img-top"></canvas>
                    <div class="card-body my-card">
                      <ng-container *ngIf="isSameUser ; else disabled1">
                        <textarea [(ngModel)]="product.description1" class="form-control"
                          name="description1">{{ product.description1 }}</textarea>
                      </ng-container>
                      <ng-template #disabled1>
                        <p class="card-text">{{ product.description1 }}</p>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="card my-card">
                    <!-- <img class="my-img-size card-img-top" src="{{ product.coverImage2 }}" alt=""> -->
                    <canvas id="cvs2" width="300" height="300" class="my-img-size card-img-top"></canvas>
                    <div class="card-body my-card">
                      <!-- description -->
                      <ng-container *ngIf="isSameUser ; else disabled2">
                        <textarea [(ngModel)]="product.description2" class="form-control"
                          name="description2">{{ product.description2 }}</textarea>
                      </ng-container>
                      <ng-template #disabled2>
                        <p class="card-text">{{ product.description2 }}</p>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="info">
                  <div class="card my-card">
                    <!-- <img class="my-img-size card-img-top" src="{{ product.coverImage3 }}" alt=""> -->
                    <canvas id="cvs3" width="300" height="300" class="my-img-size card-img-top"></canvas>
                    <div class="card-body my-card">
                      <!-- description -->
                      <ng-container *ngIf="isSameUser ; else disabled3">
                        <textarea [(ngModel)]="product.description3" class="form-control"
                          name="description3">{{ product.description3 }}</textarea>
                      </ng-container>
                      <ng-template #disabled3>
                        <p class="card-text">{{ product.description3 }}</p>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="isSameUser">
          <div class="my-refrect-btn-area">
            <button class="btn btn-danger btn-round" type="submit">更新</button>
            <button class="btn btn-outline-default btn-round my-delete-btn" (click)="onButtonClickRemovePost(product)" >削除</button>
          </div>
        </ng-container>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->
      </div><!-- /.container -->
    </form>
    <!-- FOOTER -->
    <footer class="container footer-container">
      <div class="row footer-row">
        <p class="float-right"><a class="btn btn-link btn-primary" [routerLink]="['/products']">ホームへ</a></p>
        <p>{{product.username}}&middot; {{ product.createDate | date:"yyyy/MM/dd HH:mm" }}</p>
      </div>
    </footer>
  </ng-container>
</div>
