.my-img-size {
  height: 20rem;
}

textarea {
  border-radius: 2px;
  padding: 8px;
  width: 21rem;
  height: 12rem;
  text-align: left;
}

.my-refrect-btn-area {
  width: 100%;
  text-align: center;
  button {
    width: 10rem;
    margin: 0 auto;
  }
}

.form-control {
  width: 21rem;
}

.card-body {
  padding-top: 1rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  padding-bottom: 1rem !important;
}

.my-non-display {
  opacity: 0;
}

.my-fade-in {
  opacity: 1;
  transition: 1s;
}

.my-title {
  margin-top: 3px;
  margin-bottom: 5px;
}

.my-title-prefecture {
  color: rgb(112, 112, 112);
}

.posting-spiner {
  background: rgb(90, 90, 90);
  opacity: 0.5;
  position: absolute;
  height: 68rem;
  width: 100%;
  top: 0;
  z-index: 4;
}

.spinner-grow {
  position: sticky;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;

  .sr-only {
    position: relative;
    margin-left: 2.5rem;
    margin-top: 0rem;
    color: rgb(244, 255, 255);
    font-size: 18px;
  }
}

.wrapper {
  position: relative;
  z-index: 3;
}
