@mixin title-style($color) {
  border-left: 10px solid $color;
  padding-left: 10px;
  margin-bottom: 0;
  margin-top: 1rem;
}

.header {
  text-align: center;
}

.header h1 {
  font-family: serif;
  font-size: 38px;
  font-family: "Times New Roman";
}

.content {
  margin: 100px;
}

.margin25 {
  margin: 25px;
}

.upload {
  cursor: pointer;
}

label.custom-file-label {
  margin: 0;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "Upload";
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 38px;
  padding: 0.55rem 0.75rem;
}

.custom-file {
  width: 18rem;
}

.trash-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #dadada;
  color: #464646;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  margin-left: 5px;
  margin-top: 4px;
}

.input-group > .custom-file:not(:first-child) .custom-file-label {
  border-radius: 8px;
  height: 40px;
}

.custom-file-label {
  padding: 0.55rem 0.75rem;
}

.intro1 {
  @include title-style(rgb(252, 189, 71));
}

.intro2 {
  @include title-style(rgb(153, 238, 26));
}

.intro3 {
  @include title-style(rgb(55, 55, 247));
}

.posting-spiner {
  background: #5a5a5a;
  opacity: 0.5;
  position: fixed;
  height: calc(100% + 220vw);
  width: 100%;
  top: 0;
  z-index: 9999;
  margin-top: -7rem;
  padding-bottom: -7rem;
}

.spinner-grow {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;

  .sr-only {
    position: relative;
    margin-left: 2.5rem;
    margin-top: 0rem;
    color: rgb(244, 255, 255);
    font-size: 18px;
    &::after {
      content: 'データを投稿中...';
      position: absolute;
      top: 32px;
      right: -29px;
    }
  }
}

.wrapper {
  position: relative;
  z-index: 3;
}
